* {
  margin: 0;
}

body {
  background: #b5dff5;
}

label {
  font-size: 21px;
  color: #777;
}

.box{
  margin: auto;
  margin-top: 20%;
  text-align: center;

  width: 50%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

#divProcura {
  background-color:#b5dff5;
  border: none;
  border-radius:10px;
  width: 700px;
  height:40px;
  margin: auto;
  margin-top: 30px;
}

#txtBusca {
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height: 35px;
  width: 623px;
}

#btnBusca {
  border:none;
  float:left;
  height:40px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-weight:bold;
  cursor: pointer;
  background:  #b5f5d6;
}

.top {
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
  background: #3876BE;
}

.top label {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.txtFiltro {
  float: right;
  margin-top: 1.3%;
  margin-right: 5%;
}

.main {
  width: 70%;
  height: 550px;
  margin: auto;
  margin-top: 9%;
  background: rgba(44, 44, 44, 0.4);
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.lista {
  width: 90%;
  margin: auto;
  padding-top: 10px;
}

.lista ul li {
  margin-bottom: 10px;
  background: rgb(225, 225, 225);
  text-align: center;
  font-size: 18px;  
}

.lista ul li:hover {
  cursor: pointer;
  background: rgb(200, 200, 200);
}